<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">
  <title>{{title}}</title>
  <!-- app icon -->
  <link rel="apple-touch-icon" sizes="120x120" href="images/icon@iphone.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/icon@iphone-plus.png">
  <!-- favicon -->
  <link rel="icon" type="image/png" sizes="192x192" href="images/favicon.png">
  <!-- styles -->
  <!-- build:css styles/normalize.css -->
  <link rel="stylesheet" href="normalize.css/normalize.css"></script>
  <!-- endbuild -->
  {{#if inlineStyle}}
  <link rel="stylesheet" href="styles/{{page}}.css" inline>
  {{else}}
  <link rel="stylesheet" href="styles/{{page}}.css">
  {{/if}}
</head>
<body>
  {{> App}}

<!-- build:remove -->
<script src="scripts/misc/dev.js"></script>
<!-- endbuild -->

{{#if hbs}}
<!-- build:js scripts/handlebars.runtime.min.js -->
<script src="handlebars/dist/handlebars.runtime.min.js"></script>
<!-- endbuild -->
<script src="scripts/template.{{page}}.js"></script>
{{/if}}

{{#if vendor}}
<script src="scripts/vendor.js"></script>
{{/if}}

{{#if inlineScript}}
<script src="scripts/bundle.{{page}}.js" inline></script>
{{else}}
<script src="scripts/bundle.{{page}}.js"></script>
{{/if}}
</body>
</html>
